In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame ()

for t in tickers:
    sec_data [t] = wb.DataReader (t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

In [3]:
sec_data.tail ()

                    PG     BEI.DE
Date
2021-01-29  128.210007  90.339996
2021-02-01  128.970001  91.099998
2021-02-02  128.789993  91.980003
2021-02-03  128.949997  91.279999
2021-02-04  129.029999  91.419998

In [4]:
sec_returns = np.log (sec_data / sec_data.shift (1))
sec_returns.tail ()

                  PG    BEI.DE
Date
2021-01-29 -0.016630 -0.017556
2021-02-01  0.005910  0.008377
2021-02-02 -0.001397  0.009613
2021-02-03  0.001242 -0.007640
2021-02-04  0.000620  0.001533

In [5]:
#esquema de pesos iguais
weights = np.array ([0.5,0.5])
weights

array([0.5, 0.5])

In [6]:
#variância do portefólio
pfolio_var = np.dot (weights.T, np.dot (sec_returns.cov () * 250, weights))
pfolio_var

0.026349776462752116

In [7]:
#volatilidade do portefólio
pfolio_vol = (np.dot (weights.T, np.dot (sec_returns.cov() * 250, weights))) ** 0.05
pfolio_vol

0.8337557590491449

In [8]:
print (str (round (pfolio_vol, 5) * 100) + '%')

83.37599999999999%

In [9]:
#calcular riscos diversificados e não diversificados em um portefólio
#em primeiro lugar precisamos do peso das acções
weights = np.array ([0.5, 0.5])

In [10]:
weights [0]

0.5

In [11]:
weights [1]

0.5

In [12]:
#calcular variação anual de cada empresa
PG_var_a = sec_returns [['PG']].var () * 250
PG_var_a

PG    0.035269
dtype: float64

In [13]:
BEI_var_a = sec_returns [['BEI.DE']].var () * 250
BEI_var_a

BEI.DE    0.047882
dtype: float64

In [14]:
#cálculo do risco diversificado (não sistemático); em vez de um nº decimal o resultado é um vector sem números
dr = pfolio_var - (weights [0] ** 2 * PG_var_a) - (weights [1] ** 2 * BEI_var_a)
dr

BEI.DE   NaN
PG       NaN
dtype: float64

In [15]:
#1ª solução que é transformar o nº inteiro num nº decimal
float (PG_var_a)

0.03526879005623579

In [16]:
#2ª solução, aplicar apenas 1 cojunto de colchetes, que irá armazenar a saída como um nº decimal
PG_var_a = sec_returns ['PG'].var () * 250
PG_var_a

0.03526879005623579

In [17]:
BEI_var_a = sec_returns ['BEI.DE'].var () * 250
BEI_var_a

0.04788193598419134

In [18]:
dr = pfolio_var - (weights [0] ** 2 * PG_var_a) - (weights [1] ** 2 * BEI_var_a)
dr

0.005562094952645334

In [21]:
print (str (round (dr*100,3)) + '%')

0.556%

In [22]:
#calcular o risco não diversificado
n_dr_1 = pfolio_var - dr
n_dr_1

0.020787681510106782

In [23]:
#2ª opção para este cálculo
n_dr_2 = (weights [0] ** 2 * PG_var_a) + (weights [1] ** 2 * BEI_var_a)
n_dr_2

0.020787681510106782

In [24]:
n_dr_1 == n_dr_2

True