In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame ()

for t in tickers:
    sec_data [t] = wb.DataReader (t, data_source = 'yahoo', start = '2010-1-1')['Adj Close']

In [3]:
sec_data.tail ()

                    PG     BEI.DE
Date
2021-01-12  137.050003  92.699997
2021-01-13  137.259995  93.099998
2021-01-14  135.800003  92.139999
2021-01-15  134.779999  92.500000
2021-01-19  134.457993  92.080002

In [4]:
sec_returns = np.log (sec_data / sec_data.shift (1))
sec_returns

                  PG    BEI.DE
Date
2010-01-04       NaN       NaN
2010-01-05  0.000327 -0.005289
2010-01-06 -0.004754 -0.000758
2010-01-07 -0.005438 -0.010123
2010-01-08 -0.001323 -0.029310
...              ...       ...
2021-01-12 -0.005820 -0.012436
2021-01-13  0.001531  0.004306
2021-01-14 -0.010694 -0.010365
2021-01-15 -0.007539  0.003899
2021-01-19 -0.002392 -0.004551

[2780 rows x 2 columns]

In [8]:
#cálculo das variações
PG_var = sec_returns ['PG'].var ()
PG_var

0.00011655205144883192

In [9]:
BEI_var = sec_returns ['BEI.DE'].var ()
BEI_var

0.00015335236621728587

In [12]:
PG_var_a = sec_returns ['PG'].var () * 250
PG_var_a

0.02913801286220798

In [13]:
BEI_var_a = sec_returns ['BEI.DE'].var () * 250
BEI_var_a

0.03833809155432147

In [14]:
#calcular a covariância
cov_matrix = sec_returns.cov ()
cov_matrix

              PG    BEI.DE
PG      0.000117  0.000035
BEI.DE  0.000035  0.000153

In [15]:
#o valor em cima do lado esquero é a variÂncia da PG (0.029)
cov_matrix_a = sec_returns.cov () * 250
cov_matrix_a

              PG    BEI.DE
PG      0.029138  0.008757
BEI.DE  0.008757  0.038338

In [16]:
#NOTA: este cálculo não é a correlação entre os preços das duas acções 
corr_matrix = sec_returns.corr ()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.262259
BEI.DE  0.262259  1.000000